/* body*/
section { width: 80%;}
/* Table*/
table {width: 100%;}
th {
    background-color: rgb(248, 183, 183);
}
td {text-align: center;}
tr {width: 100%;}
tr:nth-child(odd) {
    background-color: rgb(218, 220, 253);
    }
    
tr:nth-child(even) {
    background-color: rgb(140, 140, 206);
    color: rgb(254, 254, 255);
    }
 /* CSS rules for media queries */
  /* CSS rules for mobile devices */
@media only screen and (max-width: 480px) {
        /* CSS rules for mobile devices */
        /* body*/
        body { font-size:small;}

        /* Section */
        section { width: 90%;}
         /* Table stuffs */
        th,td {
            height:20px;
            font-size: small;
        }
        .class-heading {
          font-size: medium;
          font-weight: bold;
        }
}
    /* CSS rules for tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
       
        /* body*/
        body { font-size:medium;}
        th, td {
            height:30px;
            font-size:medium;
        }
        .class-heading {
          font-size: large;
          font-weight: bold;
        }
}
      
      /* CSS rules for laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
       
        /* body*/
        body { font-size:large;}
        th,td {
            height:30px;
            font-size: large;
        }
        .class-heading {
          font-size: x-large;
          font-weight: bold;
        }
}
      /* CSS rules for desktop */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
       
        /* body*/
        body { font-size: larger;}
        th, td {
            height:30px;
            font-size: larger;
        }
        .class-heading {
          font-size: x-large;
          font-weight: bold;
        }
}
      /* CSS rules for others and more */
      @media only screen and (min-width: 1201px) {
       
        /* body*/
        body { font-size:x-large;}
        th, td {height:40px;}
        .class-heading {
          font-size: xx-large;
          font-weight: bold;
        }
      }