/* General */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container {
    width:100%;
    background-color: #a5acc2;
    display: flex;
    flex-direction: column;
}
/* Header  */
header {
    height: 80px;
    text-align: center;
    padding: 10px;
    border-bottom: 0.5px solid white;
    background-color: #02074b;
    color: #a0a6fd;
}
section {
    padding: 10px;
}
.article-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.about-title, .footer-name {
    font-weight: bold;
}
.header-format {
    display: flex;
    justify-content: center;
    background-color: #6f729e;
    color: #020752;
    width: 20%;
    padding: 0px 10px;
    border-radius: 15px;
}

.about-p {
    width: 80%;
    background-color: rgb(119, 126, 148, 0.1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
/* footer */
footer {
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: #020531;
    color: #a0a6fd;
}
footer span {
    color: rgb(193, 172, 250, 0.7);
}